.idea/
node_modules/
temp/
Будет удалено .gitignore
Будет удалено app.js
Будет удалено app.ts
Будет удалено bin/
Будет удалено entity/
Будет удалено migration/
Будет удалено ormconfig.json
Будет удалено package-lock.json
Будет удалено package.json
Будет удалено process.json
Будет удалено routes/
Будет удалено tsconfig.json
Будет удалено tslint.json
Будет удалено bin/www.ts
Будет удалено entity/User.ts
Будет удалено routes/index.ts
